:root {
  --color-primary: #000;
  --color-secondary: #fff;
  --color-background: #d3d3d3;
  --color-input-background: #dad4d4;
  --color-button-hover: #867979;
}

body {
  background-color: var(--color-input-background);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .homePage {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .homePage div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .homePage div a {
  text-align: center;
}
body .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
body .navigation .link {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 1.2rem;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
body .navigation .link:hover {
  color: var(--color-button-hover);
}
body .mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.375rem;
  height: 98vh;
  width: 350px;
  border: 1px solid var(--color-primary);
  border-radius: 0.5rem;
  background-color: var(--color-background);
  position: relative;
}
body .container .link:first-child {
  position: absolute;
  top: 20px;
  left: 20px;
}
body .container .link:nth-child(2) {
  position: absolute;
  top: 20px;
  right: 20px;
}
body .container .link:nth-child(3) {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
body .container .link:nth-child(4) {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
body .container ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  padding: 0 18px;
  font-size: 24px;
}
body .container ol li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  word-break: break-all;
  color: var(--color-button-hover);
}
body .container ol li svg {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
body .container p {
  font: 1em sans-serif;
  margin-top: 40%;
  padding: 0 18px;
}
body .container h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 40%;
}
body .container input {
  border-radius: 0.5rem;
  width: 12.5rem;
  height: 3.125rem;
  font-size: 1.125rem;
  padding: 0 0.3125rem;
  background-color: var(--color-input-background);
  border: 1px solid var(--color-primary);
  outline: none;
}
body .container button {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-radius: 0.5rem;
  width: 12.5rem;
  height: 5rem;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
}
body .container button:hover {
  background-color: var(--color-button-hover);
}
body .container svg path:last-child {
  fill: var(--color-primary);
}
body .container svg path:first-child {
  fill: var(--color-background);
}