:root {
  --color-primary: #000;
  --color-secondary: #fff;
  --color-background: #d3d3d3;
  --color-input-background: #dad4d4;
  --color-button-hover: #867979;
}


body {
  background-color: var(--color-input-background);
  display: flex;
  justify-content: center;

  .homePage {
    height: 100vh;
    display: flex;
    align-items: center;
    div {
      display: flex;
      flex-direction: column;

      a {
        text-align: center;
      }
    }
  };

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    .link {
      text-decoration: none;
      color: var(--color-primary);
      font-size: 1.2rem;
      transition: color .3s ease;

      &:hover {
        color: var(--color-button-hover);
      }
    }
  }


  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.375rem;
    height: 98vh;
    width: 350px;
    border: 1px solid var(--color-primary);
    border-radius: 0.5rem;
    background-color: var(--color-background);
    position: relative;
    
   

    .link:first-child {
      position: absolute;
      top: 20px;
      left: 20px;

    }

    .link:nth-child(2) {
      position: absolute;
      top: 20px;
      right: 20px;
    }

    .link:nth-child(3) {
      position: absolute;
      bottom: 20px;
      left: 20px;
    }

    .link:nth-child(4) {
      position: absolute;
      bottom: 20px;
      right: 20px;
    }

    ol {
      display: flex;
      overflow-y: hidden;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      padding: 0 18px;
      font-size: 24px;
      height: 95vh;
      
      

      li {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 18px;
        word-break: break-all;
        color: var(--color-button-hover);
        
        svg{
          flex-shrink: 0;
        }
        button{
          flex-shrink: 0;
          width: 50px;
          height: 50px;
        };
      }
    }

    p {
      font: 1em sans-serif;
      margin-top: 40%;
      padding: 0 18px;

    }

    h1 {
      text-align: center;
      font-size: 1.8rem;
      margin-bottom: 40%;
    }

    input {
      border-radius: 0.5rem;
      width: 12.5rem;
      height: 3.125rem;
      font-size: 1.125rem;
      padding: 0 0.3125rem;
      background-color: var(--color-input-background);
      border: 1px solid var(--color-primary);
      outline: none;
    }

    button {
      background-color: var(--color-primary);
      color: var(--color-secondary);
      border-radius: 0.5rem;
      width: 12.5rem;
      height: 5rem;
      transition: background-color 0.3s ease;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: var(--color-button-hover);
      }
    }

    svg {
      path:last-child {
        fill: var(--color-primary);
      }

      path:first-child {
        fill: var(--color-background);
      }
    }
  }
}